.header{
    display: flex;
    /* height: 30px; */
    justify-content: space-between;
    border: 1px solid black;

}


.logo{
    width: 120px;
}

.nav-items>ul{
    display: flex;
    /* flex-direction: row; */
    list-style-type: none;
    /* padding: 0px 20px; */
    font-size: 24px;
}

.nav-items>ul>li{
    margin: 10px;
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 193.5px;
    height: 400px;
    
    background-color: #f0f0f0;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search-container{
    padding: 10px 0px;
}

.res-logo{
    width: 100%;
    height: 30%;
}

.search-button{
    margin: 0 10px;
    cursor: pointer;
}

.top-rated-res{
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 5px;
    padding: 5px;
    width: 193.5px;
    height: 400px;
    
    background-color: #f0f0f0;
}

.res-menu{
    text-align: center;

    
}
.res-menu>ul{
    list-style-type: none;
}

.category{
    /* display: flex; */
    width: 50%;
    background-color: #f0f0f0;
    border-bottom: 1px solid black;

}

.category-header{
    width: 98%;
    padding: 10px;
    cursor: pointer;
    
    display: flex;
    /* display: flex; */
    justify-content: space-between;
    
}

.category-header-name{
    font-size: large;
    font-weight: bold;
}

.item{
    border-top: 1px solid burlywood;
    padding-top: 10px;
}

.item-header{
    display: flex;
    justify-content: space-between;
    /* font-weight: bold; */
    padding: 0 10px;
}

.item-header-info{
    display: flex;
    flex-direction: column;
}

.item-header-info>span{
    text-align: left;
}

.item-header-info>p{
    /* display: flex; */
    text-align: left;
    /* padding: 0 10px; */
    font-size: small;
}

.item-logo{
    width: 100px;
    height: 100px;
    /* height: 30%; */
}
.item-logo-button-container{
    position: absolute;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}

.cart-header{
    height: 100px;
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
}
.cart-clear{
    padding: 10px;
    margin :10px;
    background-color: antiquewhite;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}